body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.base-app {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto
}

.center {
  width: 100%;
  text-align: center;
}

.margin-top-20 {
  margin-top: 20px;
}

.display-flex {
  display: flex;
}

.width-33-p {
  width: 33%;
}

.padding-5 {
  margin: 5px;
}

.logo {
  float: left;
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}